/* Key */
.key {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  padding: 0;
  line-height: 1;
  border: none;
  background-color: var(--color-body);
  color: var(--color-background);
  text-transform: uppercase;
  appearance: none;
  user-select: none;
  will-change: background-color, color;
}

.key:hover {
  background-color: hsl(var(--color-body-h), var(--color-body-s), calc(var(--color-body-l) * 2));
}

.key--selected,
.key--selected:hover {
  background-color: var(--color-primary);
  color: var(--color-body);
}

/* Keypad */
.keypad {
  display: grid;
  grid-template-columns: repeat(var(--grid, 8), 1fr);
  width: min(50vw, 60vh);
  height: min(50vw, 60vh);
  background-color: var(--color-body);
  border: 2rem solid hsl(var(--color-body-h), var(--color-body-s), calc(var(--color-body-l) / 2));
}