/* Key */
.key {
  width: 3rem;
  height: 3rem;
  font-size: 1.25em;
  font-weight: var(--font-weight-bold);
  padding: 0;
  line-height: 1;
  border: none;
  background-color: var(--color-body);
  color: var(--color-background);
  text-transform: uppercase;
  appearance: none;
  user-select: none;
  will-change: background-color, color;
}

.key:hover {
  background-color: hsl(var(--color-body-h), var(--color-body-s), calc(var(--color-body-l) * 2));
}

.key--selected,
.key--selected:hover {
  background-color: var(--color-primary);
  color: var(--color-body);
}
