/* Home */
.home {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
}

.home header {
  position: fixed;
  top: 5vw;
  right: 5vw;
}

.home header h4 {
  margin: 0;
  line-height: 1.2;
}

.home main {
  width: fit-content;
}

.home__question {
  position: relative;
  font-size: 0.875rem;
  margin: 8rem 0 -0.5rem 1rem;
  z-index: 2;
}

.home__question span {
  display: block;
  width: fit-content;
  padding: 0 5rem 0.125rem 0.5rem;
  margin-top: 0.25rem;
  font-size: 3.75rem;
  line-height: 1;
  background-color: var(--color-primary);
  text-transform: uppercase;
  clip-path: polygon(0% 0%, 100% 4%, 100% 40%, 75% 100%, 0% 98%);
}

.home__actions {
  text-align: right;
}
