@import-normalize;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  background-image: url(../assets/background.jpg);
  background-color: var(--color-background);
  background-size: cover;
  background-attachment: fixed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: var(--color-body);
}

*:focus {
  outline: none;
}

* {
  cursor: url(../assets/cursor.svg), auto;
}

a,
a:visited {
  display: inline-flex;
  position: relative;
  color: inherit;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

a:hover::before {
  content: "\21AF";
  position: absolute;
  top: 1.3rem;
  right: -3.5rem;
  font-size: 16em;
  line-height: 0;
  color: var(--color-background);
  transform: rotate(-125deg);
  z-index: -1;
}

::selection {
  background-color: var(--color-background);
  color: var(--color-body);
}
