@import-normalize;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  background-image: url(../assets/background.jpg);
  background-color: var(--color-background);
  background-size: cover;
  background-attachment: fixed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: var(--color-body);
}

*:focus {
  outline: none;
}

* {
  cursor: url(../assets/cursor.svg), auto;
}

::selection {
  background-color: var(--color-background);
  color: var(--color-body);
}