/* HSL */
:root {
  --color-body-h: 222;
  --color-body-s: 19%;
  --color-body-l: 18%;

  --color-background-h: 180;
  --color-background-s: 27%;
  --color-background-l: 96%;

  --color-primary-h: 294;
  --color-primary-s: 74%;
  --color-primary-l: 92%;
}

/* Colors */
:root {
  --color-body: hsl(var(--color-body-h), var(--color-body-s), var(--color-body-l));
  --color-body-alt: hsl(var(--color-body-h), var(--color-body-s), calc(var(--color-body-l) * 2));
  --color-background: hsl(var(--color-background-h), var(--color-background-s), var(--color-background-l));
  --color-primary: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
}

/* Typography */
:root {
  --font-family: "Space Mono", -apple-system, system-ui, "Helvetica Neue", Helvetica, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-black: 700;
}
